.button {
  display: block;
  border-radius: 27px;
  box-shadow: 0px 6px 14px 0px rgba(20, 20, 21, 0.09);
  @extend .flex-center;
  @extend .link;
  width: 228px;
  height: 56px;
  border: 0;
  outline: 0;
  background-color: #fff;
  color: #000;
  margin: 0 auto;
}