.swiper-pagination-bullet {
    border-radius: 2px !important;
    width: 18px !important;
    height: 6px !important;
    background-color: #e0e0e0 !important;
    opacity: 1 !important;
}

.swiper-pagination-bullet-active {
    background-color: $main-color !important;
}

.swiper-wrapper {
    height: 100%;
}

.client-said {
    overflow: hidden;
    &__button-next,
    &__button-prev {
        position: absolute;
        top: 40%;
        border-radius: 50%;
        background-color: #fff;
        box-shadow: 0px 3px 14px 0px rgba(20, 20, 21, 0.1);
        width: 48px;
        height: 48px;
        z-index: 100;
        cursor: pointer;
        @extend .flex-center;
    }
    &__button-next:hover,
    &__button-prev:hover {
        background-color: $main-color;
        box-shadow: 0px 3px 14px 0px rgba(20, 20, 21, 0.3);
    }
    &__button-next {
        left: 0;
    }
    &__button-prev {
        right: 0;
    }
    &__button-next-icon,
    &__button-prev-icon {
        display: block;
        background: url(#{$imagesPath}/spritesheet-arrows-slider.png) no-repeat;
    }
    &__button-next-icon {
        background-position: -1px -17px;
        width: 11px;
        height: 16px;
    }
    &__button-next:hover &__button-next-icon {
        background-position: -13px -17px;
        width: 11px;
        height: 16px;
    }
    &__button-prev-icon {
        background-position: -1px -0px;
        width: 11px;
        height: 16px;
    }
    &__button-prev:hover &__button-prev-icon {
        background-position: -13px -0px;
        width: 11px;
        height: 16px;
    }
    &__container {
        margin: $sectionTopMargin auto 140px;
    }
    &__slider {
        margin-top: 75px !important;
        height: 390px;
    }
    &__content {
        overflow: hidden;
    }
    &__comment-block {
        position: relative;
        height: 330px;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
    }
    &__comment {
        border: 1px solid #cfcfcf;
        border-radius: 1px;
        box-shadow: 0px 0px 1px 0px rgba(20, 20, 21, 0.75);
        padding: 0 8%;
        width: 95%;
        margin: 0 auto;
        height: 271px;
        text-align: center;
        @include animation-transition(.9s);
    }
    &__comment:hover {
        box-shadow: 0px 0px 27px 0px rgba(20, 20, 21, 0.09);
    }
    &__photo {
        position: absolute;
        top: 0;
        @extend .absolute-center;
        background: url(#{$imagesPath}/client-photo.png) no-repeat;
        background-size: cover;
        border: 1px solid #cfcfcf;
        border-radius: 50%;
        width: 99px;
        height: 99px;
    }
    &__comment-text {
        font-size: 1.063em;
        line-height: 1.588;
        text-align: center;
    }
    &__stars-list {
        @extend .list;
        margin: 18px 0;
    }
    &__star {
        &-element {
            display: inline-block;
        }
        &-icon {
            display: inline-block;
            width: 11px;
            height: 12px;
            background: url(#{$imagesPath}/star-icon.png) no-repeat;
        }
    }
    &__client {
        &-name {
            font-weight: 600;
            font-size: 1.063em;
        }
        &-specialty {
            font-style: italic;
        }
    }
}

@media screen and (min-width: 320px) {
    .client-said {
        &__comment {
            padding-top: 55px;
        }
        &__comment-block--hidden-state {
            display: none;
        }
    }
}

@media screen and (min-width: 768px) {
    .client-said {
        &__comment-block--hidden-state {
            display: flex;
        }
    }
}

@media screen and (min-width: 992px) {
    .client-said {
        &__comment {
            padding-top: 85px;
        }
    }
}