@for $i from 1 through 9 {
    .featured-works__image-container-#{$i} {
        background: url(#{$imagesPath}/work-img-#{$i}.png) no-repeat;
        background-size: cover;
        background-position: center;
    }
}

.featured-works {
    overflow: hidden;
    background-color: $page-background-color;
    &__container {
        margin: $sectionTopMargin auto 170px;
    }
    &__works-list {
        @extend .list;
        margin: 0;
    }
    &__works-top-list {
        margin-top: 115px;
    }
    &__image-container {
        width: 100%;
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 320px) {
    .featured-works {
        &__image-container {
            height: 360px;
        }
    }
}

@media screen and (min-width: 768px) {
    .featured-works {
        &__image-container {
            height: 260px;
        }
    }
}

@media screen and (min-width: 992px) {
    .featured-works {
        &__image-container {
            height: 360px;
        }
    }
}