.footer {
    overflow: hidden;
    background-color: $page-background-color;
    &__container {
        margin: 45px auto 50px;
    }
    &__content {
        text-align: center;
        margin-top: 45px;
    }
    &__social-media-list {
        @extend .list;
    }
    &__social-media-element {
        border-radius: 50%;
        width: 53px;
        height: 53px;
        background-color: #d3d3d3;
        @include animation-transition();
    }
    &__social-media-element:hover {
        background-color: $main-color;
    }
    &__link {
        @extend .flex-center;
        display: block;
        width: 100%;
        height: 100%;
    }
    &__icon {
        display: block;
        background: url(#{$imagesPath}/spritesheet-social-media-footer-icon.png) no-repeat;
    }
    &__behance-icon {
        background-position: -1px -0px;
        width: 25px;
        height: 16px;
    }
    &__twitter-icon {
        background-position: -1px -17px;
        width: 20px;
        height: 16px;
    }
    &__dribbble-icon {
        background-position: -1px -34px;
        width: 19px;
        height: 19px;
    }
    &__facebook-icon {
        background-position: -1px -54px;
        width: 11px;
        height: 20px;
    }
    &__copyright {
        margin-left: 7px;
    }
    &__copyright-text {
        font-size: 1.063em;
    }
}

@media screen and (min-width: 320px) {
    .footer {
        &__social-media-element {
            display: inline-block;
        }
    }
}

@media screen and (min-width: 768px) {
    .footer {
        &__content {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &__social-media-list {
            float: left;
        }
        &__social-media-element {
            float: left;
            margin-right: 15px;
        }
    }
}
