.header {
    overflow: hidden;
    background-color: $page-background-color;
    &__logo-link {
        display: block;
        height: 55px;
        width: 150px;
    }
    &__logo-img {
        width: 100%;
    }
    &__menu-button-wrapper {
        height: 25px;
    }
    &__menu-button {
        position: relative;
        width: 34px;
        height: 100%;
        float: right;
        @include animation-transition();
        transform: rotate(0deg);
        cursor: pointer;
        z-index: 10;
    }
    &__stick {
        display: block;
        position: absolute;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: $headerMenuButtonColor;
        opacity: $headerMenuButtonOpacity;
        left: 0;
        transform: rotate(0deg);
        @include animation-transition();
    }
    &__stick1 {
        top: 0px;
    }
    &__stick2 {
        opacity: 0;
        top: 8px;
    }
    &__stick3 {
        top: 8px;
    }
    &__stick4 {
        top: 16px;
    }
    &__menu-button--open-state &__stick {
        background-color: $headerMenuButtonColorActive;
        opacity: 1;
    }
    &__menu-button--open-state &__stick1 {
        top: 18px;
        width: 0%;
        left: 50%;
    }
    &__menu-button--open-state &__stick2 {
        transform: rotate(45deg);
    }
    &__menu-button--open-state &__stick3 {
        transform: rotate(-45deg);
    }
    &__menu-button--open-state &__stick4 {
        top: 18px;
        width: 0%;
        left: 50%;
    }
    &__message-block {
        border-radius: 2px;
        background-color: #fff;
        margin-top: 105px;
        padding: 20px 35px !important;
        box-shadow: 0px 0px 57px 0px rgba(20, 20, 21, 0.2);
    }
    &__title {
        @include heading(1.25em);
        margin: 0;
        &-color {
            @extend .color-heading;
        }
    }
    &__button {
        width: 100%;
        background-color: $main-color;
        color: #fff;
        margin-top: 15px;
    }
    &__button:hover {
        color: #fff !important;
    }
}

@media screen and (min-width: 320px) {
    .header {
        &__top-content {
            margin: 30px 0 $sectionTopMargin;
        }
    }
}

@media screen and (min-width: 992px) {
    .header {
        &__top-content {
            margin: 80px 0 $sectionTopMargin;
        }
    }
}