.heading {
    &__title {
        @include heading();
        &-color {
            @extend .color-heading;
        }
    }
    &__wrapper-text {
        text-align: center;
    }
    &__text {
        opacity: $headingTextOpacity;
    }
}