.interesting-links {
    overflow: hidden;
    background-color: #fbfbfb;
    &__container {
        margin: 65px auto 85px;
    }
    &__links-list {
        @extend .list;
        text-align: center;
    }
    &__element {
        display: inline-block;
        margin: 10px 1.5%;
    }
    &__link {
        display: block;
        width: 100%;
        height: 100%;
    }
    &__envato-icon,
    &__dribble-icon,
    &__linkedin-icon {
        display: block;
        background: url(#{$imagesPath}/spritesheet-interesting-links.png) no-repeat;
    }
    &__envato-icon:hover {
        background-position: -1px -0px;
        width: 135px;
        height: 27px;
    }
    &__envato-icon {
        background-position: -1px -28px;
        width: 135px;
        height: 27px;
    }
    &__dribble-icon:hover {
        background-position: -1px -56px;
        width: 134px;
        height: 33px;
    }
    &__dribble-icon {
        background-position: -1px -90px;
        width: 134px;
        height: 33px;
    }
    &__linkedin-icon:hover {
        background-position: -1px -124px;
        width: 118px;
        height: 30px;
    }
    &__linkedin-icon {
        background-position: -1px -155px;
        width: 118px;
        height: 30px;
    }
}

@media screen and (min-width: 992px) {
    .interesting-links {
        &__links-list {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}