@mixin heading($fontSize:$headingFontSize) {
  font-size: $fontSize;
  font-weight: 600;
  text-align: center;
  opacity: 0.9;
}

@mixin animation-transition($duration:0.5s) {
  transition-duration: $duration;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.page {
  margin: 0;
  font: $page-font;
  .list {
    padding: 0;
    list-style: none;
    overflow: hidden;
  }
  .link {
    text-decoration: none;
  }
  .link:hover {
    text-decoration: none !important;
    color: #000;
  }
  .heading {
    font-size: 3.125em;
    font-weight: 600;
    text-align: center;
    opacity: 0.9;
  }
  .color-heading {
    color: $main-color;
    opacity: 0.8;
  }
  .flex-align-items-center {
    display: flex;
    align-items: center;
  }
  .flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .absolute-center {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }
}