.services {
    overflow: hidden;
    &__container {
        margin: $sectionTopMargin auto 165px;
    }
    &__content {
        margin-top: 120px;
    }
    &__icons-list {
        @extend .list;
        padding: 0 15px !important;
    }
    &__icon-wrapper {
        @extend .flex-center;
        @include animation-transition();
        border-radius: 2px;
        box-shadow: 0px 0px 1px 0px rgba(20, 20, 21, 0.14);
        width: 104px;
        height: 92px;
        background-color: #fbfbfb;
        margin-bottom: 7px;
    }
    &__icon-wrapper:hover {
        box-shadow: 0px 0px 36px 0px rgba(20, 20, 21, 0.2);
        background-color: #fff;
    }
    &__icon {
        display: block;
        background: url(#{$imagesPath}/spritesheet-services.png) no-repeat;
        margin: 15px 0 0 15px;
    }
    &__search-icon {
        background-position: -1px -0px;
        width: 88px;
        height: 62px;
    }
    &__setting-icon {
        background-position: -1px -63px;
        width: 84px;
        height: 87px;
    }
    &__graph-icon {
        background-position: -1px -151px;
        width: 61px;
        height: 62px;
    }
    &__info-block {
        padding-left: 45px !important;
        overflow: hidden;
    }
    &__title {
        font-size: 1.875em;
        color: rgba(0, 0, 0, 0.8);
        margin: 0;
    }
    &__color-line {
        width: 60px;
        height: 3px;
        background-color: $main-color;
        margin: 15px 0;
    }
    &__text {
        color: rgba(0, 0, 0, 0.702);
        margin-bottom: 30px;
    }
    &__button {
        float: left;
        margin: 10px auto;
    }
    &__plus-icon {
        display: block;
        background: url(#{$imagesPath}/plus-icon.png) no-repeat;
        width: 16px;
        height: 16px;
        margin-right: 15px;
        @include animation-transition();
    }
    &__button:hover &__plus-icon {
        transform: rotate(90deg);
    }
    &__img {
        width: 100%;
    }
}

@media screen and (min-width: 320px) {
    .services {
        &__icons-list {
            display: none;
        }
        &__img-wrapper {
            display: none;
        }
        &__img-wrapper {
            margin-top: 20px;
        }
    }
}

@media screen and (min-width: 768px) {
    .services {
        &__icons-list {
            display: block;
        }
    }
}

@media screen and (min-width: 992px) {
    .services {
        &__img-wrapper {
            padding: 0 0 0 65px !important;
        }
        &__img-wrapper {
            display: block;
        }
    }
}