.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: $sidenavBgColor;
    overflow: hidden;
    @include animation-transition();
    &__list {
        @extend .list;
        width: 65%;
        margin: 0 auto;
    }
    &__element {
        text-align: center;
        margin: 15px 0;
    }
    &__link {
        @extend .link;
        color: $sidenavLinksColor;
        @include animation-transition();
    }
    &__link:hover {
        color: $sidenavLinksColorHover !important;
    }
}

@media screen and (min-width: 320px) {
    .sidenav {
        padding-top: 60px;
        &__link {
            font-size: $sidenavLinksFontSizeMobile;
        }
    }
}

@media screen and (min-width: 992px) {
    .sidenav {
        padding-top: 140px;
        &__link {
            font-size: $sidenavLinksFontSize;
        }
    }
}