@for $i from 1 through 3 {
    .team__member-photo-#{$i} {
        background: url(#{$imagesPath}/team-member-#{$i}.png) no-repeat;
        background-size: cover;
        background-position: center;
    }
}

.team {
    overflow: hidden;
    background-color: $page-background-color;
    &__container {
        margin: $sectionTopMargin auto 150px;
    }
    &__member-list {
        @extend .list;
        margin-top: 120px;
    }
    &__member {
        position: relative;
        height: 495px;
        overflow: hidden;
        &-photo {
            width: 100%;
            height: 100%;
            box-shadow: 0px 0px 2px 0px rgba(20, 20, 21, 0.6);
        }
        &-front-info {
            position: absolute;
            bottom: -10%;
            width: 80%;
            height: 95px;
            @extend .absolute-center;
            background-color: $teamFrontBlockBgColor;
            box-shadow: 0px 6px 16px 0px rgba(20, 20, 21, 0.08);
            border-radius: 2px;
            text-align: center;
        }
        &-name {
            @include heading(1.875em);
        }
        &-specialty {
            font-size: 0.938em;
            font-weight: 300;
            opacity: 0.9;
        }
        &-specialty-color {
            color: #ff724c;
        }
        &-skills {
            @extend .list;
            margin-bottom: 55px;
        }
        &-skill {
            margin-top: 10px;
        }
    }
    &__front-block {
        width: 100%;
        height: 90%;
        backface-visibility: hidden;
        transform: perspective(600px) rotateY(0deg);
        @include animation-transition(.75s);
        box-shadow: 0px 0px 2px 0px rgba(20, 20, 21, 0.6);
    }
    &__back-block {
        position: absolute;
        top: 0;
        width: 370px;
        height: 90%;
        overflow: hidden;
        background: $teamBackBlockBgColor;
        box-shadow: 0px 0px 49px 0px rgba(20, 20, 21, 0.11);
        backface-visibility: hidden;
        transform: perspective(600px) rotateY(180deg);
        @include animation-transition(.75s);
        padding: 170px 90px 13px;
        text-align: center;
    }
    &__skill-name {
        font-size: 0.813em;
        font-weight: 600;
    }
    &__progress-line {
        position: relative;
        border-radius: 2px;
        background-color: $teamProgressLineColor;
        width: $teamProgressLineWidth;
        height: 4px;
        margin: 5px auto;
    }
    &__progress-line-color {
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 2px;
        height: 4px;
        background-color: $main-color;
    }
    &__member-1-design-progress {
        width: 40%;
    }
    &__member-1-english-progress {
        width: 80%;
    }
    &__member-1-communication-progress {
        width: 65%;
    }
    &__member-2-design-progress {
        width: 90%;
    }
    &__member-2-english-progress {
        width: 70%;
    }
    &__member-2-communication-progress {
        width: 85%;
    }
    &__member-3-design-progress {
        width: 70%;
    }
    &__member-3-english-progress {
        width: 60%;
    }
    &__member-3-communication-progress {
        width: 75%;
    }
    &__icon-list {
        @extend .list;
        margin-top: 13px;
    }
    &__icon-wrapper {
        display: inline-block;
        margin: 0 7px;
    }
    &__icon {
        display: block;
        background: url(#{$imagesPath}/spritesheet-social-media-team-icon.png) no-repeat;
    }
    &__twitter-icon {
        background-position: -1px -0px;
        width: 16px;
        height: 14px;
    }
    &__facebook-icon {
        background-position: -1px -15px;
        width: 10px;
        height: 18px;
    }
}

@media screen and (min-width: 320px) {
    .team {
        &__member {
            margin-bottom: 20px;
        }
    }
}

@media screen and (min-width: 992px) {
    .team {
        &__member {
            margin-bottom: 0;
        }
        &__member:hover &__front-block {
            transform: perspective(600px) rotateY(-180deg)
        }
        &__member:hover &__back-block {
            transform: perspective(600px) rotateY(0deg)
        }
    }
}