.textfield {
	position: relative;
	display: inline-block;
	margin: 16px 0 8px;
	padding-top: 10px;
	width: 100%;
	&__input,
	&__label,
	&__textarea {
		font-size: $textfieldFontSize;
		font-weight: 400;
		width: 100%;
	}
	&__input,
	&__textarea {
		display: block;
		margin: 0;
		outline: 0;
		border: none;
		border-bottom: 1px solid rgb(0, 0, 0);
		border-bottom: 1px solid rgba(0, 0, 0, 0.22);
		padding: 12px 0;
	}
	&__textarea {
		height: 80px;
	}
	&__label {
		display: block;
		position: absolute;
		top: 24px;
		bottom: 0;
		overflow: hidden;
		white-space: nowrap;
		pointer-events: none;
	}
	&__label {
		@include animation-transition(.25s);
	}
}

.textfield--floatingLabel {
	.textfield__input:focus+ .textfield__label,
	.textfield__input:valid+ .textfield__label {
		visibility: visible;
		top: 0;
		font-size: $textfieldLabelFloatingFontSize;
	}
	.textfield__input:focus+ .textfield__label {
		color: $main-color;
		;
		&:after {
			visibility: visible;
			left: 0;
			width: 100%;
		}
	}
	.textfield__textarea:focus+ .textfield__label {
		visibility: visible;
		top: 0;
		font-size: $textfieldLabelFloatingFontSize;
		color: $main-color;
	}
	.textfield__label--floatingLabel {
		visibility: visible;
		top: 0;
		font-size: $textfieldLabelFloatingFontSize;
		color: $main-color;
	}
}