.work-process {
    &__container {
        margin-top: $sectionTopMargin;
    }
    &__process-list {
        @extend .list;
        margin: 105px 0 180px;
    }
    &__block {
        height: 310px;
    }
    &__element {
        position: relative;
        height: 265px;
        text-align: center;
        padding: 40px 30px 0;
        &-first {
            background-color: $workProcessBgColorFirst;
        }
        &-second {
            background-color: $workProcessBgColorSecond;
        }
        &-third {
            background-color: $workProcessBgColorThird;
        }
        &-fourth {
            background-color: $workProcessBgColorFourth;
        }
    }
    &__icon {
        display: block;
        background: url(#{$imagesPath}/spritesheet-process.png) no-repeat;
        opacity: $workProcessElementOpacity;
        margin: 0 auto;
    }
    &__camera-icon {
        background-position: -1px -0px;
        width: 56px;
        height: 52px;
    }
    &__settings-icon {
        background-position: -1px -53px;
        width: 54px;
        height: 50px;
    }
    &__bug-icon {
        background-position: -1px -104px;
        width: 45px;
        height: 44px;
    }
    &__magnet-icon {
        background-position: -1px -149px;
        width: 43px;
        height: 44px;
    }
    &__heading {
        @include heading(1.25em);
        opacity: $workProcessElementOpacity;
        color: #fff;
    }
    &__text {
        opacity: $workProcessElementOpacity;
        color: #fff;
    }
    &__element:hover &__heading,
    &__element:hover &__text,
    &__element:hover &__icon {
        opacity: 1;
    }
    &__button {
        position: absolute;
        bottom: 20px;
        @extend .absolute-center;
    }
    &__plus-icon {
        display: block;
        background: url(#{$imagesPath}/plus-icon.png) no-repeat;
        width: 16px;
        height: 16px;
        margin-right: 15px;
        @include animation-transition();
    }
    &__button:hover &__plus-icon {
        transform: rotate(90deg);
    }
}