.wrapper {
    width: 100%;
    overflow: hidden;
}

@media screen and (min-width: 320px) {
    .wrapper {
        font-size: 1.2em;
    }
}

@media screen and (min-width: 768px) {
    .wrapper {
        font-size: 1em;
    }
}