$imagesPath: "../images";
$page-font: 16px/1 "Open Sans", sans-serif; 

$main-color: #ff5c36;
$page-background-color: #f5f5f5;
$sectionTopMargin: 130px;

$sidenavBgColor: #111;
$sidenavLinksColor: #818181;
$sidenavLinksColorHover: #fff;
$sidenavLinksFontSize: 2.875em;
$sidenavLinksFontSizeMobile: 1.875em;

$headingFontSize: 3.125em;
$headingTextOpacity: 0.65;

$headerMenuButtonColor: #170f1c;
$headerMenuButtonOpacity: 0.6;
$headerMenuButtonColorActive: #818181;

$textfieldFontSize: 0.938em;
$textfieldLabelFloatingFontSize: 0.75em;

$workProcessElementOpacity: 0.65;
$workProcessBgColorFirst: #4eb2f7;
$workProcessBgColorSecond: #c049f8;
$workProcessBgColorThird: #817eff;
$workProcessBgColorFourth: #f74770;

$teamFrontBlockBgColor: #fff;
$teamBackBlockBgColor: #fff3f0;
$teamProgressLineWidth: 151px;
$teamProgressLineColor: #817f7e;

